@import url('../fonts/butler/stylesheet.css');
@import url('../fonts/sset/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-main-dark font-sset dark:text-white dark:bg-black bg-white;
  -webkit-tap-highlight-color: transparent;
}

a {
  @apply transition-all hover:text-primary;
}
#content {
  a:not(.no-highlight) {
    @apply transition-all text-secondary hover:underline;
  }
}
h3 {
  @apply font-butler text-6xl;
}

#menu {
  .nuxt-link-exact-active {
    @apply font-bold;
  }
}
/* img:not(.lazyLoad) {
  @apply opacity-0;
}
.lazyLoad {
  @apply transition-all duration-500 filter blur-md;

  &.isLoading {
  }

  &.isLoaded {
    @apply blur-0 opacity-100;
  }
} */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s, transform 0.3s, filter 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(40px);
  transform: scale(0.85);
}
h1 {
  @apply font-butler text-3xl;
}
h5 {
  @apply font-butler text-2xl font-bold;
}

.responsive-image {
  @apply overflow-hidden;
}

@layer utilities {
  .margins {
    @apply mx-auto py-20 msm:py-10 px-10 msm:px-3;
  }
  .margins-header {
    @apply mx-auto py-10 msm:py-10 px-10 msm:px-3;
  }
  .text-shadow {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.55);
  }
  .container-1024 {
    width: 100%;
  }
  @media (min-width: 640px) {
    .container-1024 {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container-1024 {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container-1024 {
      max-width: 1024px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .pu-skeleton {
    filter: invert(0.9);
  }
}

:root {
  --primary: theme('colors.primary');
}

.loader {
  @apply w-14 h-14 rounded-full border-4 border-gray-200 dark:border-gray-400 animate-spin;
  border-top-color: theme('colors.primary');
}

#header-image {
  @apply sm:h-96 msm:aspect-w-1 msm:aspect-h-1 msm:w-full overflow-hidden;

  .responsive-image {
    img {
      @apply w-full h-full object-cover;
    }
  }
}

.title {
  @apply text-center mx-auto font-butler font-bold leading-snug text-5xl msm:text-3xl;
}
.subtitle {
  @apply text-center mx-auto font-sset font-bold text-xl msm:text-base my-0 text-secondary;
}

.bg-image {
  @apply absolute inset-0 h-full w-full;

  img {
    @apply absolute inset-0 w-full h-full object-cover;
  }
}
