@import url('../fonts/butler/stylesheet.css');
@import url('../fonts/sset/stylesheet.css');

body {
  @apply text-main-dark font-sset dark:text-white dark:bg-black bg-white;
  -webkit-tap-highlight-color: transparent;
}

a {
  @apply transition-all hover:text-primary;
}
h3 {
  @apply font-butler text-6xl;
}

#menu {
  .nuxt-link-exact-active {
    @apply font-bold;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s, transform 0.3s, filter 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(40px);
  transform: scale(0.85);
}
h1 {
  @apply font-butler text-3xl;
}
.responsive-image {
  @apply overflow-hidden;
}
.margins {
  @apply mx-auto py-20 msm:py-10 px-10 msm:px-3;
}
.margins-header {
  @apply mx-auto py-10 msm:py-10 px-10 msm:px-3;
}
@media (prefers-color-scheme: dark) {
  .pu-skeleton {
    filter: invert(0.9);
  }
}

:root {
  --primary: theme('colors.primary');
}
